main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

section.task-preview {
  background-color: var(--primary-text-color);
  color: var(--primary-color);
  width: 90%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 14px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}

#preview-name,
#preview-desc {
  line-height: 0.5em;
  text-align: start;
}

section.task-preview .container {
  margin-right: 20px;
}

section.input-fields {
  background-color: var(--primary-highlight-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-width: 90%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

input {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: bold;
  height: 50px;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  border: none;
  border-left: 8px solid var(--primary-text-color);
  border-radius: 4px;
  padding-left: 14px;
}

.ui-selectmenu-button {
  background: none !important;
  font-family: inherit !important;
  font-size: 1.2rem !important;
  height: 50px !important;
  background-color: var(--primary-color) !important;
  color: var(--primary-text-color) !important;
  border: none !important;
  border-left: 8px solid var(--primary-text-color) !important;
  border-radius: 4px !important;
  padding-left: 14px !important;
  width: 100% !important;
}

input::placeholder {
  color: var(--primary-text-color);
  font-weight: bold;
}

button {
  grid-column: span 2; 
  border-radius: 4px;
  height: 50px;
  background-color: #5fad56;
  color: var(--primary-text-color);
  border: none;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.15s;
}

button:hover {
  box-shadow: inset 0 0 0 2px #6a8532, 0 0 0 2px #6a8532, inset 0 0 5px #6a8532, 0 0 5px #6a8532;
}

:focus {
  outline: none;
}

@media screen and (max-width: 800px) {
  section.input-fields {
    grid-template-columns: 1fr;
  }

  button {
    grid-column: span 1;
  }
}