/* color pallet source: https://coolors.co/palette/3d5a80-98c1d9-e0fbfc-ee6c4d-293241 */

:root {
  --primary-color: #EE6C4D;
  --primary-text-color: #293241;
  --primary-highlight-color: #e6aa68;
  --secondary-color: #98C1D9;
  --secondary-text-color: white;
  --secondary-highlight-color: #7fb069;
  --tertiary-color: #dfd6a7;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;

  font-family: Andika, sans-serif;
  font-size: 18px;
}

nav {
  background-color: var(--primary-text-color);
}

nav a {
  float: left;
  display: block;
  color: var(--secondary-text-color);
  padding: 20px;
  text-decoration: none;
  text-align: center;
}

nav a:last-child {
  float: right;
}

nav a:hover {
  background-color: var(--primary-highlight-color);
  color: var(--primary-text-color);
}

nav a.active {
  background-color: var(--secondary-highlight-color);
  color: var(--primary-text-color);
}

nav::after {
  content: "";
  display: table;
  clear: both;
}

header {
  color: var(--primary-text-color);
  background: var(--primary-color);
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 3rem;
  line-height: 3rem;
}

header p {
  font-size: 1.5rem;
}

main {
  min-height: calc(100vh - 358.31px);
  background-color: var(--tertiary-color);
}

main {
  text-align: center;
  line-height: 100%;
}

footer {
  padding: 5px;
  text-align: center;
  color: var(--primary-text-color);
  background-color: var(--secondary-color);
}

@media screen and (max-width: 600px) {
  nav a, nav a:last-child {
    float: none;
  }
}

